



<div class="row" ng-controller="hankCtrl">
    <div class="sub-title">
        <div class="panel-heading"><h2>Rank de Usuarios</h2></div>
    </div>
    <select class="form-control" ng-change="SelecionarRank(opcaoSelecionada)" ng-model="opcaoSelecionada">
        <option value="" disabled="disabled" class="ng-binding"> Selecione um tipo de Rank </option>
        <option ng-value="1">Diario</option>
        <option ng-value="2">Semanal</option>
        <option ng-value="3">Mensal</option>
    </select>
    <div class="loader"></div>
    <table class="table table-bordered ">

        <thead style="background-color:#1abc9c;">

            <tr>

                <th>Nome</th>
                <th>Curso</th>
                <th>Pontos</th>

            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="usu in hankeamento" ng-class="{'classeUsuario':usu.Id===Idusuario}">

                <td>{{usu.Nome}}</td>
                <td>{{usu.Curso.curso}}</td>
                <td>{{usu.avaliacao.pontos}}</td>



            </tr>

        </tbody>

    </table>

</div>