
<div class="col-md-12 content-page" ng-controller="topicoSelecionadoCtrl">
    <div class="col-md-12 blog-post">
        <script>
            var Topico = { Id:@ViewBag.TopicoId}

            localStorage.setItem('IdTopico', JSON.stringify(Topico.Id));

        </script>



        <div class="well well-sm" style="background-color: #d7ffef">
            <div class="post-title">
                <h1>{{TopicosSelc.Titulo}}</h1>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="~/Upload/{{TopicosSelc.usuario.UploadArquivo.Caminho}}" class="media-object" style="width: 60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="../Usuario/PerfilUsuario?usuarioid={{TopicosSelc.usuario.Id}}" target="_blank"> {{TopicosSelc.usuario.Nome}} </a><small>{{TopicosSelc.DataCria}}</small></h4>

                    <p>{{TopicosSelc.Descricao}}</p>
                    <div ng-if="(TopicosSelc.usuario.Id!==usuario.Id)">
                        <div ng-if="(usuID>0)">

                            <div ng-controller="avaliacao.controller">

                                <span class="badge label-danger label-danger animate-show-hide" ng-model="TopicosSelc.avaliacao.contarDeslike">{{TopicosSelc.avaliacao.contarDeslike}}</span>

                                <button ng-model="TopicosSelc.avaliacao.pontos" ng-click="valorpegoDeslike(TopicosSelc,usuario)"><i class="far fa-thumbs-down padrao-curti color-6" ng-class="{'fas':TopicosSelc.avaliacao.pontos===-1}"></i></button>

                                <button ng-model="TopicosSelc.avaliacao.pontos" ng-click="valorpegoLike(TopicosSelc,usuario)"><i class="far fa-thumbs-up  padrao-curti color-6" ng-class="{'fas':TopicosSelc.avaliacao.pontos===1}"></i></button>
                                <span class="badge label-success label-success animate-show-hide" ng-model="TopicosSelc.avaliacao.contarLike">{{TopicosSelc.avaliacao.contarLike}}</span>


                                <input type="hidden" ng-model="idAvaliacaoLike" value="{{idAvaliacaoLike}}" />
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>


        <div ng-repeat="topico in TopicosSelc.Resposta" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header" style="text-align: -webkit-center">
                        <img src="~/Upload/{{topico.usuario.UploadArquivo.Caminho}}" class="media-object" style="width:150px" alt="avatar">
                    </div>
                    <!--Body-->
                    <div class="modal-body text-center mb-1">

                        <h5 class="mt-1 mb-2"><a href="../Usuario/PerfilUsuario?usuarioid={{topico.usuario.Id}}" target="_blank">{{topico.usuario.Nome}} </a></h5>

                        <div class="md-form ml-0 mr-0">
                            <label data-error="wrong" data-success="right" for="form29" class="ml-0">Você gostaria de formar uma amizade?</label>
                        </div>
                        <br />
                        <div class="text-center mt-4">
                            <a type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">
                                Enviar Solicitação
                                <i class="fa fa-paper-plane ml-1"></i>
                            </a>
                            <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancelar</a>
                        </div>
                    </div>

                </div>
                <!--/.Content-->
            </div>
        </div>





        <div ng-repeat="topico in TopicosSelc.Resposta">

            <div class="well well-sm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -6px;margin-right: 0px;">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
                <div class="media">
                    <div class="media-body ">
                        <h4 class="media-heading "><a href="../Usuario/PerfilUsuario?usuarioid={{topico.usuario.Id}}" target="_blank">{{topico.usuario.Nome}} </a><small> {{topico.DataCria}}<button class="btn" ng-click="topicodeTexto($index)" ng-show="(topico.Descricao.length>50)">Leia mais...</button></small></h4>
                        <p ng-class="$index==itemSelecionado ? 'textoaparecer':'text-nowrap bd-highlight'">{{topico.Descricao}}</p>
                        <a href="~/Upload/{{topico.Anexos.Caminho}}">{{topico.Anexos.Caminho}}</a>

                    </div>

                    <div class="media-right btn" data-toggle="modal" data-target="#modalLoginAvatar">
                        <img src="~/Upload/{{topico.usuario.UploadArquivo.Caminho}}" class="media-object" style="width:60px">
                    </div>
                    <div ng-if="(topico.usuario.Id!== usuario.Id)">
                        <div ng-if="(TopicosSelc.Status.Id !=2)">
                            <div ng-if="(usuID>0)">

                                <div ng-controller="avaliacao.controller">

                                    <div uib-tooltip="{{dicas}}" tooltip-placement="bottom-left">

                                        <jk-rating-stars max-rating="5" style="user-select: none;" rating="ctrl.rating" ng-init="ctrl.rating = topico.avaliacao.pontos" read-only="(ctrl.rating>0)" ng-class="{'classebloqueio': ctrl.readOnly }" ng-click="valorClick(ctrl.rating,topico,usuario,TopicosSelc)">

                                        </jk-rating-stars>


                                        <div class="row">
                                            <div class="col-md-12">

                                                <input type="hidden" ng-init="nota=topico.avaliacao.pontos" />
                                                <span class="color-6 animate-if" ng-if="nota>0">Sua Nota é {{nota}}.</span>
                                                <input type="hidden" ng-model="idAvaliacao" value="{{idAvaliacao}}" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>
            </div>
        </div>

        @if (@User.Identity.IsAuthenticated)
        {
            <div class="subscribe-form margin-top-20">
                <div ng-if="(TopicosSelc.Status.Id !=2)">

                    <form class="form-horizontal" name="resposta">

                        <div class="row fileupload-buttonbar">
                            <div class="form-group">
                                <label for="arquvios" class="col-md-2 control-label">Anexos</label>
                                <div class="col-md-10">
                                    <input type="file" name="arquvios" class="form-control" data-ak-file-model="areaResposta.Anexos.ArquivoBase" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <textarea class="form-control" ng-model="areaResposta.Descricao" rows="10" cols="60" id="areaResposta" required></textarea>
                        </div>
                        <button class="btn btn-primary comentariobotao" type="submit" ng-click="novoPost(areaResposta)" ng-disabled="resposta.$invalid">
                            <i class="fas fa-comment fa-2x"></i>
                        </button>
                    </form>

                </div>
            </div>
        }
    </div>

</div>

