
@{
    ViewBag.Title = "PerfilUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sub-title">
    <h2>About Me</h2>
    <a href="contact.html"><i class="icon-envelope"></i></a>
</div>

<script>
    var PerfilUsuario = { Id:@ViewBag.UsuarioId}

    localStorage.setItem('PerfilUsuario', JSON.stringify(PerfilUsuario));

</script>


<div class="col-md-12 content-page" ng-controller="amizadeCtrl">
    <div class="col-md-12 blog-post">
        <div>
            <img src="../Upload/{{PerfilUsuario.UploadArquivo.Caminho}}" alt="">
        </div>
        <!-- My Intro Start -->
        <div class="post-title margin-bottom-30">
            <h1>Ola, Eu Sou o <span class="main-color">{{PerfilUsuario.Nome}}</span></h1>

            <ul class="knowledge">
                <li class="bg-color-{{PerfilUsuario.Auth.Id}}">{{PerfilUsuario.Auth.Permissao}}</li>
            </ul>

        </div>
        <!-- My Intro End -->


        <p class='post-info'>Estou presente no forum desde {{PerfilUsuario.DataCad}}</p>



        <!-- Video Start -->
        <!-- Video End -->
        <!-- My Service Start -->
        <div class="post-title">
            <h1>My <span class="main-color">Services</span></h1>
        </div>

        <div class="list list-style-2 margin-top-30">
            <ul>
                <li>Website Design</li>
                <li>Website Development</li>
                <li>Wordpress Theme Development</li>
                <li>Mobile Apps UI/UX Design</li>
                <li>Online Software Development</li>
                <li>E-commerce Development</li>
                <li>UI/UX Consulting</li>
            </ul>
        </div>
        <!-- My Service End -->

    </div>

    @*Verifica se usuario nao é ele mesmo*@
    <div ng-if="(ModelUsuario.Id != PerfilUsuario.Id)">
        <div ng-if="(valAmi)">
            <button ng-click="conviteAmizade(PerfilUsuario)" class="btn btn-lg btn-primary" disabled>Usuario Adicionado</button>

        </div>
        <div ng-if="(!valAmi)">
            <button ng-click="conviteAmizade(PerfilUsuario)" class="btn btn-lg btn-primary">Adicionar Usuario</button>
        </div>
    </div>
</div>



