<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbconectionString" connectionString="Data Source=177.8.170.178,3308;Initial Catalog=PFC;User Id=PFCUMC;Password=PFC@2018" />

    <!--<add name="dbconectionString" connectionString="Data Source=ECM0709,3308;Initial Catalog=PFC;User Id=PFCUMC;Password=PFC@2018" />-->
    <!--<add name="dbconectionString" connectionString="Data Source=Anderson-PC;Initial Catalog=PFC;Integrated Security=True" />-->

  </connectionStrings>
</configuration>