<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbconectionString" connectionString="Data Source=177.8.170.178,3308;Initial Catalog=PFC;User Id=PFCUMC;Password=PFC@2018" />

    <!--<add name="dbconectionString" connectionString="Data Source=ECM0709,3308;Initial Catalog=PFC;User Id=PFCUMC;Password=PFC@2018" />-->
    <!--<add name="dbconectionString" connectionString="Data Source=Anderson-PC;Initial Catalog=PFC;Integrated Security=True" />-->

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>