<div class="col-md-12 content-page" ng-controller="topicoCtrl">
    <div class="col-md-12 blog-post">

        <div ng-repeat="topico in Topicos">
            <div class="post-title">
                <h1> {{topico.Titulo}}</h1>
            </div>


            <div class="post-info">
                <span>{{topico.DataCria}} /por <a href="#" target="_blank">{{topico.usuario.Nome}}</a></span>
            </div>

            <p>
                {{topico.Descricao}}
            </p>

            <div class="subscribe-form margin-top-20">
                <textarea id="txtArea" rows="10" cols="70" class="text-input">   </textarea>
                <button class="submit-btn" type="submit">Enviar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script src="~/App/Controller/topico.controller.js"></script>

}
