
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<div class="container">
    <div id="img-container" class="row">
        <h1>Bootstrap 3 Lightbox using Modal</h1>
        <div class="row">


            <div class="col-lg-3 col-sm-4 col-6">


                <a href="#" title="Dados de cadastro">
                    <div class="col-md-12">
                        <form name="AdicionarUsuario">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Nome</label>
                                    <input type="text" class="form-control" id="Nome" ng-model="usuario.Nome" placeholder="Digite seu Nome" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="Email" ng-model="usuario.Email" placeholder="Digite seu Email" required>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress">RGM</label>
                                <input type="text" class="form-control" id="RGM" ng-model="usuario.RGM" placeholder="Digite seu RGM" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress">Login</label>
                                <input class="form-control" type="text" ng-model="login" name="Login" placeholder="Login" required />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="DataNasci">Data de Nascimento</label>
                                <input class="form-control" type="date" ng-model="usuario.DataNasci" id="DataNasci" name="DataNasci" placeholder="DataNasci" required />
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="Genero">Genero</label>
                                    <select class="form-control" ng-model="usuario.Sexo.Id" id="Genero"
                                            ng-options="c.Id as c.Sexo for c in Genero" required>
                                        <option value="" selected="selected" disabled="disabled"> {{Id || 'Sexo'}} </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Curso">Curso</label>
                                    <select class="form-control" ng-model="cmbCurso" id="Curso"
                                            ng-change="carregarSemestre(cmbCurso)"
                                            ng-options="c.Id as c['curso' + Lang] for c in Curso" required>
                                        <option value="" selected="selected" disabled="disabled"> {{Id || 'Curso'}} </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Semestre">Semestre</label>
                                    <select class="form-control" ng-model="usuario.Semestre.Id" id="Semestre"
                                            ng-options="s.Id as s.semestre for s in Semestre" required>

                                        <option value="" selected="selected" disabled="disabled">{{Id || 'Semestre'}}</option>
                                    </select>
                                </div>
                                @*<div class="form-group col-md-4">
                        <label for="Senha">Senha</label>
                        <input class="form-control" type="password" ng-model="senha" name="Senha" placeholder="Senha" required />
                        <span ng-class="error" ng-show="AdiconarUsuarioForm.Senha.$error.required">Senha é obrigatório</span>
                    </div>*@
                            </div>


                        </form>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 3"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 4"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 5"><img src="//placehold.it/600x350/2255EE" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 6"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 7"><img src="//placehold.it/600x350/777" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 8"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 9"><img src="//placehold.it/600x350/EEE" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 10"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 11"><img src="//placehold.it/600x350/DDD" class="thumbnail img-responsive"></a></div>
            <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 12"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
        </div>
        <hr>
        <a href="http://bootply.com/71401">Edit on Bootply</a>
        <hr>
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title">Heading</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="prev-btn" class="btn btn-warning">Prev</button>
                <button id="next-btn" class="btn btn-primary">Next</button>
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.thumbnail').click(function () {
        $('.modal-body').empty();
        var title = $(this).parent('a').attr("title");
        $('.modal-title').html(title);
        $($(this).parents('div').html()).appendTo('.modal-body');
        $('#myModal').modal({ show: true });
    });

    $('#next-btn').click(function () {
        var link = $('.modal-body a');
        var number = parseInt(link.attr('title').match(/\S+$/));
        number++;
        if (number === 13) {
            number = 1;
        }
        $('.modal-body').html($('#img-container').find('a[title="Image ' + number + '"]').parent('div').html());
        $('.modal-title').text('Image ' + number);
    });
    $('#prev-btn').click(function () {
        var link = $('.modal-body a');
        var number = parseInt(link.attr('title').match(/\S+$/));
        number--;
        if (number === 0) {
            number = 12;
        }
        $('.modal-body').html($('#img-container').find('a[title="Image ' + number + '"]').parent('div').html());
        $('.modal-title').text('Image ' + number);
    });
</script>