
@{
    ViewBag.Title = "Chat";
}


@*Chat*@
@*@if (@User.Identity.IsAuthenticated)
{
    <style>
        .reveal .fa {
            font-family: 'FontAwesome';
            font-style: normal;
        }

        ul {
            list-style: none;
            padding-left: 1px;
        }

        #PrivateChatArea {
            z-index: 44;
            max-height: 300px;
            min-height: 300px;
            width: 278px;
            bottom: -2%;
            position: fixed;
            right: 170px;
            opacity: 1;
        }

        #OnlineUsers {
            z-index: 88;
            height: auto;
            width: 181px;
            bottom: -3%;
            position: fixed;
            right: 0%;
            opacity: 1;
        }

        .alertBox {
            bottom: 0px;
            right: 0px;
            position: fixed;
            z-index: 111;
        }

        h3.media-heading {
            font-size: 11px;
            font-family: 'Comic Sans MS';
            float: left;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="~/Content/Css/ChatStyle.css" />
    <link rel="stylesheet" href="~/Content/Css/JQueryUI/themes/base/jquery.ui.all.css">

    <div class="alert-success " id="userNick" style="padding: 8px; text-align: center; text-wrap: initial;">Welcome <h4 id="userNick"> @User.Identity.Name !!</h4> </div>
    <div id="OnlineUsers">
        <div id="divContainer">
            <div id="divChat" class="chatRoom">
                <div class="content">
                    <div id="divusers" class="users">
                    </div>
                </div>
            </div>

            <input id="hdId" type="hidden" />
            <input id="hdUserName" type="hidden" />
            <input id="hdEmailID" type="hidden" />
        </div>
    </div>

}*@


