<div class="row" ng-controller="denunciaController">

    <div class="sub-title">
        <div class="panel-heading"><h2>Denuncias</h2></div>
    </div>
    <div ng-if="ListaDenuncia">
        <table class="table table-bordered">
            <thead style="background-color:#1abc9c;">
                <tr>
                    <th>Usuario</th>
                    <th>Denuncia</th>
                    <th>Topico</th>
                    <th>Data Denuncia</th>
                    <th>Resposta</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="denuncia in ListaDenuncia">
                    <td><a href="../Usuario/PerfilUsuario?usuarioid={{denuncia.id_Usu_Sol.id}}">{{denuncia.id_Usu_Sol.nome}}</a></td>
                    <td>{{denuncia.descricao}}</td>
                    <td><a href="../Topico/TopicoSelecionado?topicoId={{denuncia.topico.idTopicoPai}}#{{denuncia.topico.id}}">Ver Topico</a></td>
                    <td>{{denuncia.dataCria  | date: 'dd/MM/yyyy'  }}</td>
                    <td>{{denuncia.resposta }}</td>
                    <td ng-if="denuncia.status">
                        Ativo
                    </td>
                    <td ng-if="!denuncia.status">
                        Resolvido
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

