<div class="row" ng-controller="notificationController">
    <div class="sub-title">
        <div class="panel-heading"><h2>Denuncias</h2></div>
    </div>
    <div ng-if="notifidenuncia">
        <table class="table table-bordered">
            <thead style="background-color:#1abc9c;">
                <tr>
                    <th>Usuario</th>
                    <th>Denuncia</th>
                    <th>Topico</th>
                    <th>Data Denuncia</th>
                    <th>Resposta</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usu in notifidenuncia">
                    <td><a href="../Usuario/PerfilUsuario?usuarioid={{usu.id_Usu_Sol.id}}">{{usu.id_Usu_Sol.nome}}</a></td>
                    <td>{{usu.descricao}}</td>
                    <td><a href="../Topico/TopicoSelecionado?topicoId={{usu.topico.id}}">Ver Topico</a></td>
                    <td>{{usu.topico.dataCria  | date: 'dd/MM/yyyy' }}</td>
                    <td>{{usu.topico.dataCria  | date: 'dd/MM/yyyy' }}</td>
                    <td>{{usu.topico.dataCria  | date: 'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

